@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>A maior comunidade de Animes do Brasil.</p>
    <p>Crie sua conta e fique por dentro de tudo que acontece no mundo dos Animes.</p>
    <div class="bg-dark container mb-3">
        <img src="~/img/animes-removebg.png" class="img-fluid" alt="animes community">
    </div>
</div>
